@page "/Home"
@model WeatherApp.Pages.Data.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

<div class="how-to">
    <h2>How To</h2>
    <p>
        Welcome to WeatherApp! Below, you can view the most recent weather data. Click <strong>Add New Data</strong> below to add a new data entry to the table. You can <strong>Edit</strong> or <strong>Delete</strong> an existing data entry by clicking the corresponding link next to it on the right side in the table.
    </p>
</div>

<p>
    <a asp-page="Create">Add New Data</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataPoint[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPoint[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPoint[0].Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPoint[0].Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPoint[0].Humidity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DataPoint) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
